@model IEnumerable<CollegeProject.Models.AgentTaskModel>

@{
    ViewData["Title"] = "AgentTask";
}

<h1>AgentTask</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryStatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
